body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.heading{
    float: left;
}
.title{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    color: blue;
    margin: 10px 10px 0px 10px; 
}
.tagtitle{
    font-family: cursive;
    color:black;
    margin-top: 0px;
    margin-left: 10px;
}
.headerbtns{
    width: 100px;
    height: 40px;
    background: #0000ff;
    color:white;
    float: right;
    margin-right: 15px;
    margin-top: 15px;;
}
#getstarted,#welcome{
    color:black;
    font-size: larger; 
    margin-left: 40%;
}
#fullname,#username,#password,#confirmpass{
    background-color:lightgray;
}
#fullname:hover,#username:hover,#password:hover,#confirmpass:hover{
    background-color:grey;
    color: white;
}
#siusername,#sipassword{
    background-color:lightgray;
}
#siusername:hover,#sipassword:hover{
    background-color:grey;
    color: white;
}



.btns{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.postbtn{
    height: 40px;
    width: 100px;
    background: #DAB641;
    color:black;
    float: center;                  
    margin-right: 15px;
}
#createPostTitle{
    color:black;
    font-size: larger; 
    margin-left: 40%;
}
#postTitle,#postContent{
    background-color:lightgray;
}
#createBtn{
    width: 70px; 
    margin-left: 45%;
}
