.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.newBlog{
    height: 160px;
    display: flex;
    flex-direction: row;
    border-radius: 45px;
    margin: 20px;
    width: 510px;
  
}

.authorName{
    height: 160px;
    width: 18%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
    background-color: white;
    padding: 40px 4px;
    color:black;
    font-size: 18px;
    font-weight: bold;
    
}
.blogHeading{
    color:black;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    
 }
.blogContent{
    height: 160px; 
    background-color: #DCDCDC;
    width: 85%;
    padding: 5px;
    font-size: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; 
}



.blogDesc{
    overflow: hidden; 
    white-space: normal; 
    height: 4.5em;  
}

.delete{
    float: right;
    size: 10px;
    padding-right: 11px;
    cursor: pointer;
}

.moreDetails{
    margin-left: 369px;
    color:black;
    cursor: pointer;
    padding-right: 121px;
    margin-bottom: 5px; 
}
#desc{
    font-size: 30px;
}

/* Modal */
.modalTitle{
    margin-left: 15%;
}
#yesBtn{
    margin-left: 20px;
    margin-right: 240px;
    width: 50%;
}

#noBtn{
    margin-right: 20px;
    width: 50%;
}











